.FlexItemsList {
    display: flex;
    list-style: none;
    justify-content: space-evenly ;
}

.FlexItemsList .row1 {
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    background-color: white;
    /* padding: 50px; */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
}
